<ul>
  <li class="first"><a href="http://fssp.pl" rel="nofollow"> fssp.pl</a></li>
  <li><a href="http://sedilla.fssp.pl" rel="nofollow"> sedilla.fssp.pl</a></li>
  <li><a href="http://ars.fssp.pl" rel="nofollow"> ars.fssp.pl</a></li>
  <li><a href="http://constitueseos.pl" rel="nofollow"> constitueseos.pl</a></li>
  <div class="clear"></div>
</ul>
