<footer id="stopka">
  <section id="footer_inner">

    <ul>
      <li><a href="http://www.vatican.va" target="blank"  rel="nofollow">www.vatican.va</a></li>
      <li><a href="http://www.diecezja.pl" target="blank" rel="nofollow">www.diecezja.pl</a></li>
      <li><a href="http://www.fssp.org" target="blank" rel="nofollow">www.fssp.org</a></li>
      <li><a href="http://www.fssp.eu" target="blank" rel="nofollow">www.fssp.eu</a></li>
    </ul>
    <div class="cc-net" style="clear:both;font-size:10px;">Created by <a href="http://cc-net.pl">CC-Net.pl</a></div>
  </section>
</footer>
